@media only screen and (min-width: 769px) and (max-width:1279px) {
    html {
        color: #28282B;
        font-size: 1.2vw;
    }

    #atf {
        display: flex ;
        flex-direction: column;
        /* justify-content: space-around; */
        /* border: 2px solid red; */
    }

    .homepage {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }


    #headline {
        font-size: 3rem ;
    }

    .subheadline {
        font-size: 4rem;
    }

    .contact {
        width: 30%;
        /* border: 2px solid red; */
        margin-right: 4rem;
    }

    #gmail, #number {
        font-size: 2rem;
    }


    form div {
        justify-content: space-between;
        width: 50vw;
    }

    .ffrm {
        display: block;
        
        /* border: 2px solid red; */
    }

    .ffrm2 {
        display: none;
    }

    label {
        font-size: 3rem;
    }

    legend {
        margin-top: .1rem;
    }

    input[type="text"],input[type="email"],input[type="tel"], textarea {
        width: 100%;
    }

    input[type="text"],input[type="email"],input[type="tel"] {
        height: 5rem;
    }

    #cta {
        flex-wrap: wrap;
    }

}


@media (width:1024px) {
    .ffrm {
        height: 70vh;
    }

    input[type="text"],input[type="email"],input[type="tel"] {
        height: 3rem;
    }

    label {
        font-size: 1rem;
    }
}
