@media only screen and (min-width: 1280px) {
    #atf {
        /* height: 95vh; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 15vh;
        /* align-items: center; */
    }

    .homepage {
        width: 80%;

        flex-direction: column;
    }

    .photo {
        width: 22rem;
        height: 15rem;
    }

    .contactpage {
        display: flex;
    }

    #contactinfo {
        font-size: 2.5rem;
        justify-content: flex-start;
    }

    form {
        min-width: 30rem;
    }

    .ffrm2 {
        display: none;
    }

    .ffrm {
        display: block;
        height: 63vh;
        align-content: center;
    }

    input[type="text"], input[type="email"], input[type="tel"], textarea {
        width: 100%;
    }

    #message{
        height: 5rem;
    }

    input {
        width: 100%;
        height: 2.3rem;
    }

    textarea {
        height: 4rem;
    }

    input[type="submit"]{
        padding: .25rem .5rem;
        padding: 0rem .5rem;
    }

}
