@media screen and (min-width: 480px) and (max-width: 767px) { 
    #atf {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    /* Header section */

    #logo {
        font-size: 4.5rem;
    }

    .nav a {
        display: none;
    }

    .topnav {
        display: flex;
        margin-right: 1rem;
        font-size: 1.5rem;
        color: black;
        font-weight: bolder;
    /* border: 2px solid red; */
    }

    .mobilenavs {
        position: fixed;
        right: -120%;
        width: 100%;
        
        margin-top: 10rem;
        
        transition-property: all;
        transition-timing-function: ease;
        transition-duration: .9s;
        /* border: 2px solid blue; */

        background-color: var(--muted);

        
        :hover {
            background-color: #e7e6e6;
            /* background-color: red; */
        }
    }

    .mobilenavs a {
        display: flex;
        justify-content: center;
        align-items: center;
        
        font-size: 4rem;
        font-weight: bolder;
        
        padding: 1rem;
        margin-bottom: 6rem;

        /* border: 2px solid blue; */
        }

        input[type="checkbox"] {
        display: none;
    }

    .icon-close {
        display: none;
    }


    .icon-open {
        width: 4.5rem;
        height: 5.5rem;
        margin-right: 2rem;
        fill: var(--card-bg);
        /* border: 2px solid red; */
        :hover {
            fill: #999;
        }
    }

    .icon-close {
        width: 6rem;
        height: 10rem;
        fill: var(--card-bg);
    }

    .menu-toggle:checked ~ .menu-btn .icon-open {
        display: none;
    }

    .menu-toggle:checked ~ .menu-btn .icon-close {
        display: block;
    }

    .menu-toggle:checked ~ .mobilenavs {
        right: 0;
    }



    /* Hero section */

    .hero-container {
        justify-content: center;
    }
    
    .hero-content h1 {
        font-size: clamp(8rem, 6rem, 3rem);
        line-height: 1.1;
        letter-spacing: .2rem;

    }

    .hero-content p {
        font-size: 4.5rem;
        line-height: 6rem;
        max-width: 100%;
        /* text-align: center; */
    }

    .mockup-card {
        display: none;
    }

    .btn {
        padding: 30px 28px;
    }

    .hero-actions {
        flex-direction: column;
    }

    .btn.primary {
        font-size: 3rem;
        margin-bottom: 2.5rem;
    }

    .btn.secondary {
        font-size: 3rem;
        opacity: .8;
    }
   

    /* Our Services Section */

    .cards {
        width: 90%;
        padding: 2rem;
    }

    .our-services :last-child {
        margin-bottom: 2rem;
    }

    .our_services, .why-container h2 {
        font-size: 6rem;
    }
    
    .our-services p {
        font-size: 3.5rem;
        letter-spacing: .2rem;
        line-height: 4rem;
        max-width: 90%;
    }
    
    .our_services {
        font-size: 7.5rem;
        letter-spacing: .5rem;
        padding: 2rem 0;
    }

    .services-sub {
        font-size: 3.5rem;
    }

    .Top h3 {
        font-size: 4rem;
        margin-bottom: 2rem;
    }

    .Top p {
        font-size: 3.5rem;
        margin-bottom: 2rem;
    }

    .service-list li {
        font-size: 3.5rem;
    }

    .herosection {
        width: 95%;

        display: flex;
        flex-direction: column;

        /* margin-top: 40rem; */
    }


    /* Why choose us section */

    .why-grid {
        display: flex;
        flex-direction: column;
    }

    .why-intro {
        font-size: 3rem;
    }

    .why-card h3 {
        font-size: 4rem;
    }

    .why-card p {
        font-size: 2.5rem;
    }

    /* About Page */

    .about {
        margin-top: 5rem;
        margin-bottom: 5rem;
        min-height: 70vh;
    }

    #about {
        font-size: 5rem;
    }

    .about p {
        font-size: 3rem;
        font-weight: 100;
    }

    /* contact page */
    .socials {
        max-width: 50%;
    }
    
    .icon {
        margin-right: 5.5rem;
    }

    .icon-fb {
        height: 5rem;
        align-self: center;
    }

    .copy p {
        font-size: 2.5rem;
    }

    .contact {
        display: flex;
        justify-content: center;
        align-items: center;

        margin-bottom: 5rem;
        /* border: 2px solid red; */
    }

    .s-icon {
        width: 10rem;
        height: 5rem;
    }

    #gmail, #number {
        font-size: 4rem;
        font-weight: 100;
    }


    /*form styling*/

    .contactbody {
        flex-direction: column;

        margin-top: 5rem;

    }

    form {
        display: flex;
        justify-content: center;
        align-items: center;
        
        width: 90vw;
        /* border: 2px solid green; */
    }
    
    #legend {
        font-size: 2vh;
        font-weight: bold;
        color : blue;
    }

    .contactform {
        /* width: 90vw; */
        /* height: 48.5vh; */
        justify-content:space-between;
    }

    label, legend {
        font-size: 3rem;

    }

    label {
        padding: 1rem 0;

    }

    legend {
        align-self: flex-start;
        margin-top: 2.5rem;
    }

    input[type="text"], input[type="email"], input[type="tel"] {
        height: 8vh;
        width: 80vw;
    }

    textarea {
        height: 12vh;
        width: 80vw;
    }

    #submit {
        margin-bottom: 3rem ;
    }

}

