
#atf {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
} 

.about {
    max-width: 80%;
    /* height: 80vh; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#about {
    font-size: 3rem;
    color: var(--card-bg);
}

.about p {
    font-size: 1.5rem;
    font-weight: 100;
}
