
#atf {
    justify-content: center;
} 

.about {
    max-width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;
    /* border: 2px solid red; */
}

#about {
    font-size: 3rem;
    color: var(--card-bg);
}

.about p {
    font-size: 1.5rem;
}
