
#atf {
    justify-content: center;
    /* margin-top: 40vh; */
}

.serv {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#services {
    font-size: 4rem;
}

.our-services h3 {
    font-size: 2rem;
    margin-bottom: .2rem ;
}

.Top h3 {
    font-size: 1rem;
}

.services li {
    margin: 1rem;
    list-style: square;
    font-size: 1rem;
}

#cta {
    color: black;
    background-color: lightskyblue;

    text-decoration: none;

    padding: .5em 1em;
    margin-bottom: 4rem;
    
    font-weight: bolder;
    border-radius: 6px;
    font-size: .7rem;
}

#cta:hover {
    background-color: cornflowerblue;
    transition-duration: 2s;
}

