
#atf {
    justify-content: center;
    /* margin-top: 40vh; */
}

.our-servicespage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 1rem;
}

.our-services h3 {
    font-size: 2rem;
    margin-bottom: .2rem ;
}


.our-services p {
    color: var(--card-bg);
}

.Top h3 {
    font-size: 1rem;
}

.services li {
    margin: 1rem;
    list-style: square;
    font-size: 1rem;
}



