#atf {
    justify-content: center;
}
.projects {
    width: 50vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* border: 2px solid red; */
}
